.box {
    background: orangered;
    height: 500px;
    width: 400px;
    /*padding: 10px 45px 75px 125px;*/
    padding-top: 10px;
    padding-bottom: 75px;
    padding-right: 45px;
    padding-left: 125px;
    color: antiquewhite;
    border: limegreen 5px solid;
    border-radius: 25px;
    margin: 50px 25px;
    display: inline-block;
    box-sizing: border-box;
}